{% load url from future %}
<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.js"></script>
  <title>Hunger Demo</title>
</head>

<body>
  <div class="navbar navbar-static-top" data-dropdown="dropdown">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand link" href="/">Hunger Demo</a>
        <ul class="nav pull-right">
          {% if user.is_authenticated %}
          <li class="nav">
            <a href="{% url "profile" %}">{{ user.username }}</a>
          </li>
          <li class='dropdown'>
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
              <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li><a href='{% url 'logout' %}?next=/'>Sign Out</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav">
            <a href="{% url "auth_login" %}">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  {% block content %}
  <h1>
    Django Hunger Demo
  </h1>
  <div class="row">
    <p class="span6">
      Welcome to the Django Hunger demo app! This example project will demonstrate a basic configuration of django-registration with django-hunger.
    </p>
  </div>
  {% endblock %}
  </div>
</body>
</html>
