syntax: glob
# This line is a comment, and will be skipped.
# Empty lines are skipped too.

# Backup files left behind by the Emacs editor.
*~

*.egg
hunger.egg*

# Lock files used by the Emacs editor.
# Notice that the "#" character is quoted with a backslash.
# This prevents it from being interpreted as starting a comment.
.\#*

# Temporary files used by the vim editor.
.*.swp

# A hidden file created by the Mac OS X Finder.
.DS_Store

#python compiler
*.pyc

#pid files
*.pid

# textmate projects #
*.tmproj

#temporary! textmate files
._*.*
._*

# IntelliJ
.idea/*
*.iml

#directories
/media/admin
/media/uploads/*
/media/admin
/media/c/.sass-cache
/media/stats*
.sass-cache
/media/js/file-uploader
/django_hunger.egg-info

build/*
_build
.build
dist/*

.tox/

media/c/m.scss

media/c/m.scss

*.sqlite

vagrant_bootstrap.sh
Vagrantfile