language: python
python:
  - "2.7"
  - "2.6"
env:
  - DJANGO=1.4.5
  - DJANGO=1.5.1
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - python setup.py -q install
script:
  - python setup.py test
