language: python
python:
  - "2.7"
  - "3.4"
env:
  - DJANGO=1.5.5
  - DJANGO=1.6.2
install:
  - pip install -q Django==$DJANGO --use-mirrors
  - python setup.py -q install
script:
  - python setup.py test
matrix:
  exclude:
    - python: "3.4"
      env: DJANGO=1.6.2
