{% extends 'base.html' %}

{% block content %}
<div>
  <h1>Login</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form }}
      <br>
      <input type="submit" class="btn" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
      <a href="{% url 'registration_register' %}"> or register here</a>
    </form>
    <div>
      <a href="{% url 'auth_password_reset' %}">Forgot your password?</a>
    </div>
  </div>
{% endblock %}
